<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{weekend/layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>회원정보 수정</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/user/modify/style.css">
</head>
<body>

        <section layout:fragment="contents" class="contents d-flex justify-content-center">
            <div class="user-box my-1 p-5">
                <h1 class="text-center">회원정보 수정</h1>
                <input type="password" class="form-control my-3" placeholder="비밀번호" id="passwordInput">
                <input type="password" class="form-control my-3" placeholder="비밀번호 확인" id="passwordConfirmInput">
                <div id="passwordUnChecked" class="text-danger small d-none">비밀번호가 일치하지 않습니다!</div>
                <div id="passwordChecked" class="text-success small d-none">비밀번호가 일치 합니다</div>
                <input type="file" class="my-3">
                <input type="text" class="form-control my-3" placeholder="이름" id="nameInput">
                <input type="text" class="form-control my-3" placeholder="이메일" id="emailInput">
                <button id="modifyBtn" class="btn btn-block btn-secondary my-3" type="button">정보 수정</button>
            </div>
        </section>

    <script layout:fragment="script">


        $("#passwordConfirmInput").on("input", function() {
            let password = $("#passwordInput").val();
            let passwordConfirm = $("#passwordConfirmInput").val();
            if(password != passwordConfirm) {
                $("#passwordUnChecked").removeClass("d-none");
                $("#passwordChecked").addClass("d-none");
            } else {
                $("#passwordUnChecked").addClass("d-none");
                $("#passwordChecked").removeClass("d-none");
            }
        });




    </script>
</body>
</html>