<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{weekend/layouts/default}">

    <section layout:fragment="contents">
        <div id="passwordIsValidation" th:data-validation="${isValidation}" th:data-email="${email}" class="text-center mt-3">
            <h2>비밀번호 변경</h2>
            <div class="text-center d-flex justify-content-center">
                <div class="mt-3 w-75">
                    <input type="password" class="form-control mt-3" id="passwordInput" placeholder="비밀번호 입력">
                    <input type="password" class="form-control mt-3" id="passwordConfirmInput" placeholder="비밀번호 확인">
                    <div id="passwordUnChecked" class="text-danger small d-none">비밀번호가 일치하지 않습니다!</div>
                    <div id="passwordChecked" class="text-success small d-none">비밀번호가 일치 합니다</div>
                    <button class="btn btn-secondary btn-block mt-3" id="passwordChangeBtn" type="button">변경</button>
                </div>
            </div>
        </div>

    </section>

    <script layout:fragment="script">

        $(document).ready(function() {

            var isValidation = $("#passwordIsValidation").data("validation");

            var email = $("#passwordIsValidation").data("email");

            var urlParams = new URL(location.href).searchParams;

            var code = urlParams.get("code");

            // console.log(code);

            console.log(email);

            if(!isValidation) {
                alert("유효시간이 지났거나 이미 사용한 링크 입니다!");
                location.href = "/user/search";
            }


            $("#passwordChangeBtn").on("click", function() {
                let password = $("#passwordInput").val();
                let passwordConfirm = $("#passwordConfirmInput").val();

                if(password == '') {
                    alert("비밀번호를 입력 해주세요!");
                    $("#passwordInput").focus();
                    return;
                }

                if(passwordConfirm == '') {
                    alert("비밀번호 확인을 입력 해주세요!");
                    $("#passwordConfirmInput").focus();
                    return;
                }

                if(password != passwordConfirm) {
                    alert("비밀번호가 일치하지 않습니다!");
                    return;
                }

                $.ajax({
                    type:"put"
                    , url:"/password-reset/password-change-process"
                    , data:{"password":password, "code":code, "email":email}
                    , success:function(response) {
                        if(response.result == 'success') {
                            alert("비밀번호가 변경 되었습니다");
                            location.href = "/user/login";
                        } else {
                            alert("비밀번호 변경 실패!");
                        }
                    }
                    , error:function() {
                        alert("비밀번호 변경 에러!");
                    }
                });
            });

            $("#passwordConfirmInput").on("input", function() {
                let password = $("#passwordInput").val();
                let passwordConfirm = $("#passwordConfirmInput").val();
                if(password != passwordConfirm) {
                    $("#passwordUnChecked").removeClass("d-none");
                    $("#passwordChecked").addClass("d-none");
                } else {
                    $("#passwordUnChecked").addClass("d-none");
                    $("#passwordChecked").removeClass("d-none");
                }
            });

        });
    </script>
</html>