#wrap {
    width: 600px;

    margin: 0 auto;
}

header {
    height: 100px;
    background-color: #F4F4F4;
}

section {

}

section > .post-list {
}

.post-list > .post {
    border: solid 1px lightgray;
}

.post-info {
    border-bottom: solid 1px lightgray;
}

.comments-top3 {
    border: solid 1px lightgray;

}

.modal {
    top: 100px;
}

.modal-content {
    height: 550px;
    max-height: 700px;
}

.modal-dialog {
    max-width: 587px;
}

.modal-body {
    max-height: 550px;
}

.personIcon {
    font-size: 36px;
}

footer {
    height: 70px;
    border: solid 1px lightgray;
    background-color: #F4F4F4;
}