<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{weekend/layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>타임라인</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/post/list/style.css">
</head>
    <section layout:fragment="contents">

        <div class="post-list my-1">
            <div th:each="post : ${postList}" class="post m-2">
                <div class="post-info">
                    <div class="d-flex pl-3 align-items-center">
                        <div th:if="${post.profileImage == '' || post.profileImage == null}"><i class="bi bi-person-circle"></i></div>
                        <div th:unless="${post.profileImage == '' || post.profileImage == null}"><img src=""></div>
                        <div th:text="${post.name}" class="pl-1 my-1">회원 이름</div>
                    </div>

                    <div th:if="${post.imagePath != ''}" class="d-flex justify-content-center my-1">
                        <img class="postImage" width="450px" height="300px" src="https://cdn.pixabay.com/photo/2023/12/19/21/52/trees-8458466_1280.jpg">
                    </div>
                    <div class="my-3 pl-5">
                        <div th:text="${post.contents}" class="postContents"></div>
                    </div>
                    <div class="d-flex justify-content-center my-3">
                        <div class="w-75 d-flex justify-content-between">
                            <div class="d-flex justify-content-between w-50 mr-5">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-heart text-danger"></i>
                                    <div class="ml-2">132</div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a th:data-id="${post.id}" class="commentList" data-bs-toggle="modal" href="#myModal" id="commentList"><i class="bi bi-chat-right text-dark"></i></a>
                                    <div th:text="${post.getComments().size()}" class="ml-2">32</div>
                                </div>
                            </div>
                            <div th:if="${!session.isEmpty()}" class="d-flex justify-content-between w-50 ml-5">
                                <div th:if="${post.userId == session.userInfo.getId()}">
                                    <a th:href="@{/post/modify(postId=${post.id})}" class="text-dark"><i class="bi bi-pencil fs-5 postModify"></i></a>
                                </div>
                                <div th:if="${post.userId == session.userInfo.getId()}">
                                    <i th:data-id="${post.id}" class="bi bi-trash postRemove"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:with="length=${post.comments.size() > 2 ? 2 : post.comments.size() - 1}" class="comments-top3 m-3 p-3">
                    <div th:if="${!post.comments.isEmpty()}" th:each="idx : ${#numbers.sequence(0,length)}" class="comment d-flex my-1 align-items-center">
                        <div th:if="${post.comments.get(idx).profileImage == '' || post.comments.get(idx).profileImage == null}">
                            <i class="bi bi-person-circle"></i>
                        </div>
                        <div th:unless="${post.comments.get(idx).profileImage == '' || post.comments.get(idx).profileImage == null}">
                            <img src="">
                        </div>
                        <div th:text="${post.comments.get(idx).name}" class="mx-2">유저 이름</div>
                        <div th:text="${post.comments.get(idx).comment}" class="ml-5">
                            댓글 내용
                        </div>
                    </div>
                    <div th:unless="${!post.comments.isEmpty()}">
                        <div class="font-weight-bold text-center">댓글이 없습니다</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">댓글</h5>
                        <input type="hidden" value="" id="postId">
                        <button id="closeBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modalComment d-flex my-3 align-items-center">
                            <div class="userProfileImage">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <div class="mx-2 userName">유저 이름</div>
                            <div class="ml-5 userComment">
                                댓글 내용
                            </div>
                        </div>
                    </div>
                    <div class="d-flex p-3 align-items-end">
                        <input type="text" class="form-control col-9" id="commentInput">
                        <button id="commentBtn" type="button" class="btn btn-info col-3 ml-2">입력</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer layout:fragment="footer" class="d-flex align-items-center justify-content-center">
        <div class="w-75 d-flex justify-content-between align-items-center">
            <div>
                <a href="/post/write"><i class="bi bi-clipboard-plus text-dark"></i></a>
            </div>
            <div>
                <a href="#"><i class="bi bi-search text-dark"></i></a>
            </div>
            <div>
                <a href="#"><i class="bi bi-heart-fill text-dark"></i></a>
            </div>
            <div>
                <a href="#"><i class="bi bi-person text-dark"></i></a>
            </div>
        </div>
    </footer>
    <script layout:fragment="modalScript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script layout:fragment="script">

        var myModal = new bootstrap.Modal($("#myModal"));

        $("#commentBtn").on("click", function() {
            let id = $("#postId").val();
            let comment = $("#commentInput").val();

            if(comment == "") {
                alert("댓글을 입력 해주세요!");
                $("#commentInput").focus();
                return;
            }

            $.ajax({
                type:"post"
                , url:"/post/comment/write-process"
                , data:{"postId" : id, "comment" : comment}
                , success:function(response) {
                    if(response.result == "success") {
                        location.reload();
                    } else {
                        alert("댓글 작성 실패!");
                    }
                }
                , error:function() {
                    alert("댓글 작성 에러!");
                }
            });

        });

        $(".postRemove").on("click", function() {
            let id = $(this).data("id");

            $.ajax({
                type:"delete"
                , url:"/post/remove-process"
                , data:{"postId" : id}
                , success:function(response) {
                    if(response.result == "success") {
                        location.reload();
                    } else {
                        alert("게시글 삭제 실패!");
                    }
                }
                , error:function() {
                    alert("게시글 삭제 에러!");
                }
            });
        });

        $("#closeBtn").on("click", function() {
            myModal.hide();
        });

        $(".commentList").on("click", function() {
            let id = $(this).data("id");
            $("#postId").val(id);
            $.ajax({
                type:"get"
                , url:"/post/comment/comment-process"
                , data:{"postId":id}
                , success:function(response) {
                    if(response.result == "success") {

                    } else {
                        alert("댓글 불러오기 실패!");
                    }
                }
                , error:function() {
                    alert("댓글 불러오기 에러!");
                }
            });
            myModal.show();
        });
    </script>
</html>