<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{weekend/layouts/posts}">

    <section layout:fragment="contents">

        <div class="d-flex justify-content-center my-3">
            <div class="input-group w-75">
                <input type="text" class="form-control" id="searchInput" placeholder="검색어 입력">
                <div class="input-group-append">
                    <button id="searchBtn" class="btn btn-info">검색</button>
                </div>
            </div>
        </div>

        <div class="post-list my-1">

        </div>

    </section>

</html>