<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{weekend/layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/post/write/style.css">
</head>

    <section layout:fragment="contents">
        <h2 class="text-center mt-2">글 작성</h2>
        <textarea rows="10" class="form-control my-2" id="contentsInput"></textarea>
        <input type="file" class="my-2" id="fileInput">
        <button type="button" class="btn btn-info btn-block my-2" id="writeBtn">작성</button>
    </section>

    <script layout:fragment="script">

        var images = [".jpeg"
                      , ".jpg"
                      , ".png"
                      , ".webp"]

        $("#writeBtn").on("click", function() {
            let contents = $("#contentsInput").val();
            let imageFile = $("#fileInput")[0].files[0];
            let dotName = "";
            if(imageFile != undefined)
            {
                dotName = imageFile.name.substring(imageFile.name.lastIndexOf("."));
            }


            if(contents == "") {
                alert("내용을 입력하세요!");
                $("#contentsInput").focus();
                return;
            }

            if(imageFile != undefined && !images.includes(dotName)) {
                alert("이미지 파일만 업로드 가능 합니다!");
                return;
            }


            let formData = new FormData();

            formData.append("contents", contents);
            formData.append("imageFile", imageFile);


            $.ajax({
                type:"post"
                , url:"/post/write-process"
                , data:formData
                , processData:false
                , contentType:false
                ,success:function(response) {
                    if(response.result == "success") {
                        location.href = "/post/list";
                    } else {
                        alert("글 작성 실패!");
                    }
                }
                , error:function() {
                    alert("글 작성 에러!");
                }
            });
        });
    </script>
</html>